[Unit]
Description=FUSE filesystem over Google Drive
After=network.target

[Service]
ExecStart=google-drive-ocamlfuse -xdgbd -label %I %h/drive/%I
ExecStop=fusermount -u %h/drive/%I
Restart=always
Type=forking

[Install]
WantedBy=default.target
