[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .config/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .config/vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
