/*
!/LICENSE
!/README.md
!/.Xmodmap
!/.alsoftrc
!/.config/
/.config/*
!/.config/chromium-flags.conf
!/.config/chromium/NativeMessagingHosts/gpgmejson.json
!/.config/fontconfig/
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/gtk-3.0/
!/.config/i3/
!/.config/i3status/
!/.config/mako/
!/.config/swappy/
!/.config/sway/
!/.config/sx/
!/.config/terminator/
!/.config/vim/
/.config/vim/.netrwhist
!/.config/waybar/
!/.config/yamllint/
!/.config/zsh/
!/.gitignore
!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/share/
/.local/share/*
!/.local/share/fonts
!/.local/bin/sensible-terminal
!/.local/share/fonts/
!/.mozilla/native-messaging-hosts/gpgmejson.json
!/.profile
!/.ssh/
/.ssh/*
!/.ssh/authorized_keys
!/.ssh/config
!/.xinitrc
!/.xprofile
!/.zprofile
!/.zshenv
