/*
!/LICENSE
!/README.md
!/.alsoftrc
!/.config/
/.config/*
!/.config/chromium-flags.conf
!/.config/chromium/NativeMessagingHosts/gpgmejson.json
!/.config/fontconfig/
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/gtk-3.0/
!/.config/mako/
!/.config/ssh/
!/.config/swappy/
!/.config/sway/
!/.config/terminator/
!/.config/vim/
/.config/vim/.netrwhist
!/.config/waybar/
!/.config/yamllint/
!/.config/zsh/
!/.gitignore
!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/bin/sensible-terminal
!/.local/share/
/.local/share/*
!/.local/share/fonts/
!/.local/share/omz-custom/
!/.local/share/ohmyzsh
!/.mozilla/native-messaging-hosts/gpgmejson.json
!/.profile
!/.zshenv
