/*
!/README.md
!/.Xmodmap
!/.alsoftrc
!/.config/
/.config/*
!/.config/git/config
!/.config/gtk-3.0/
!/.config/i3/
!/.config/i3status/
!/.config/swappy/
!/.config/sway/
!/.config/sx/
!/.config/terminator/
!/.config/vim/
/.config/vim/.netrwhist
!/.config/waybar/
!/.config/yamllint/
!/.config/zsh/
!/.gitignore
!/.local/bin/
/.local/bin/*
!/.local/bin/sensible-terminal
!/.local/share/fonts/
!/.profile
!/.ssh/
/.ssh/*
!/.ssh/authorized_keys
!/.ssh/config
!/.xinitrc
!/.xprofile
!/.zprofile
!/.zshrc
