@import "/etc/xdg/waybar/style.css";

* {
  min-height: 0;
}

.modules-right > widget > * {
  padding: 0 10px;
}

#bluetooth.disabled {
  background-color: #ecf0f1;
}

#custom-kbd {
  background-color: #2d3436;
}

#custom-arch_updates {
  background-color: #2ecc71;
  color: #000000;
}

#custom-arch_updates.pending {
  background-color: #f1c40f;
}

#custom-spotify {
  background-color: #66cc99;
  color: #000000;
}
