@import "/etc/xdg/waybar/style.css";

* {
  min-height: 0;
  font-size: 16px;
}

.modules-right > widget > * {
  padding: 0 10px;
}

#bluetooth {
  background-color: #30408c;
}
#bluetooth.on {
  color: #ffffff;
}
#bluetooth.connected {
  color: #299d0b;
}
#bluetooth.disabled {
  color: #d53b2f;
}

#cpu {
  padding: 0;
  min-width: 4em;
}

#custom-kbd {
  background-color: #2d3436;
}

#custom-arch_updates {
  background-color: #2ecc71;
  color: #000000;
}

#custom-arch_updates.pending {
  background-color: #f1c40f;
}

#custom-darkmode.dark {
  background-color: #000000;
  color: #ffffff;
}

#custom-darkmode.light {
  background-color: #ffffff;
  color: #000000;
}

#custom-spotify {
  background-color: #66cc99;
  color: #000000;
}

#language {
  margin: 0;
  min-width: 12em;
}
