/*
!/.gitignore
!/alacritty/
!/chromium-flags.conf
!/chromium/NativeMessagingHosts/gpgmejson.json
!/environment.d/
!/fontconfig/
!/git/
/git/*
!/git/config
!/gtk-3.0/
!/kanshi/
!/kitty/
!/mako/
!/npm/
!/ssh/
!/swappy/
!/sway/
!/sworkstyle/
!/systemd/
!/terminator/
!/vim/
/vim/.netrwhist
!/wofi/
!/waybar/
!/xdg-desktop-portal-wlr/
!/yamllint/
!/zsh/
