/*
!/.gitignore
!/chromium-flags.conf
!/chromium/NativeMessagingHosts/gpgmejson.json
!/dunst/
!/fontconfig/
!/git/
/git/*
!/git/config
!/gtk-3.0/
!/ssh/
!/swappy/
!/sway/
!/terminator/
!/vim/
/vim/.netrwhist
!/waybar/
!/yamllint/
!/zsh/
