/*
!/.gitignore
!/alacritty/
!/chromium-flags.conf
!/chromium/NativeMessagingHosts/gpgmejson.json
!/dunst/
!/environment.d/
!/fontconfig/
!/git/
/git/*
!/git/config
!/gtk-3.0/
!/kanshi/
!/kitty/
!/npm/
!/ssh/
!/swappy/
!/sway/
!/sworkstyle/
!/terminator/
!/vim/
/vim/.netrwhist
!/waybar/
!/yamllint/
!/zsh/
